.container-head{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    flex-flow: row wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    color: #f9faf8;
    padding-left: 120px;
    font-size: 24px;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding-right: 120px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    padding: 10px;
}

.image{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding: 120px;
}

.text{
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20px;
}

h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding-right: 60px;
}

.signup{
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: 0;
}

.header1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}


.pictures{
    display: flex;
    justify-content: center;
    justify-content:  space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    
}

.imgb {
    border-radius: 8px;
    border: solid 4px;
    border-color: #3882f6;
    width: 200px;
    height: 200px;
    
    
}

.caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-around;
    inline-size: 200px;
    overflow-wrap: break-word;
    text-align: center;
}

.reviewb{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.review{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 200px;
    margin-bottom: 0px;
}

.quote{
    margin-top: 10px;
    margin-left: 900px;
    margin-bottom: 200px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.white-space{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.order{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background-color: #3882f6;
    flex-wrap: wrap;
    border-radius: 8px;
}

.orderh{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    flex-wrap: wrap;
    color: #e5e7eb;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.ordert{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    font-size: 12px;
    flex-wrap: wrap;
    color: #e5e7eb; 
    width: 500px; 
    margin-right: 300px; 
    margin-top: 10px; 
    margin-bottom: 50px;  
}

.signup2{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: 1;
    border-style: solid;
    margin-top: 10px;
    margin-right: 100px;
    
  
   
  
}

