.container-head{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    flex-flow: row wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    color: #f9faf8;
    padding-left: 120px;
    font-size: 24px;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding-right: 120px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    padding: 10px;
}

.image{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding: 120px;
}

.text{
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20px;
}

h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding-right: 60px;
}

.signup{
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: 0;
}

.header1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.pictures{
    display: flex;
    justify-content: space-around;
    justify-content: center;
}